**/__pycache__/**
data/
profiles/
.duct*/
**.gzip

hpc_scripts/*

!hpc_scripts/submit_segment_harpy_jobs.sh
!hpc_scripts/submit_segment_instanseg_jobs.sh
!hpc_scripts/submit_flowsom_harpy_jobs.sh
!hpc_scripts/submit_aggregation_harpy_jobs.sh
!hpc_scripts/submit_preprocess_flowsom_harpy_jobs.sh
!hpc_scripts/

# pixi environments
.pixi
*.egg-info
.vscode
notebooks
